<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wordtry"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        
        <activity
            android:name="com.example.wordtry.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wordtry.MainList"></activity>
        
        <activity android:name="com.example.wordtry.WordDetails"></activity>
        
        <activity android:name="com.example.wordtry.Select_Alphabet"></activity>
        
        <activity android:name="com.example.wordtry.TestSetting"></activity>
        
        <activity android:name="com.example.wordtry.Test"></activity>
        
        <activity android:name="com.example.wordtry.ExamSetting"></activity>
        
        <activity android:name="com.example.wordtry.Stats"></activity>
        
        <activity android:name="com.example.wordtry.Exam"></activity>
        
        
    </application>

</manifest>